<!DOCTYPE html>
<html>

<head>
    <title>Chat page</title>

    <style>
        .classContainer{
            border: 1px solid
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="jumbotron text-center"><h2>Group Chat</h2></div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
    <div class="wrapper classContainer">
        <label for="rooms">Choose a room:</label>
        <select name="rooms" id="rooms">
            <option value='news'>news</option>
            <option value='covid19'>covid19</option>
            <option value='nodeJS'>nodeJS</option>
        </select>
    
    <button class="btn mt-2 btn-primary" onclick='joinRoom()'>Join Room</button>

    <button class="btn mt-2 btn-warning" onclick='leaveRoom()'>Leave Room</button>

    <button class= "btn mt-2 btn-danger" onclick='logout()'>Logout</button>

    <h1 id='roomName'></h1>
    <br />
        <input id='roomMessage' type='text' name='roomMessage' value="" placeholder="Enter message to room">
        <button class="btn mt-3 btn-success" onClick='sendMessage()'>Send message</button>
    <div id="message-container">Messages</div>
    </div>
    <br>
    <div class="jumbotron text-center"><h2>History Chat</h2>
        <div class="wrapper classContainer">
           <p id="history-container"></p>
        </div>
    </div>
    <div class="jumbotron text-center"><h2>Personal Chat</h2>
        <div class="wrapper classContainer">
            <label for="rooms">Choose a User:</label>
            <select  id="users">
                <option value=''>Select a user</option>
            </select><br/>
            <input id='privateMessage' type='text' name='roomMessage' value="" placeholder="Enter message to room">
            <button class="btn mt-3 btn-success" onClick='sendPrivate()'>Send Private message</button>
        </div>
    </div>
    
</div>
</body>

<script src="/socket.io/socket.io.js"></script>
<script>

    const username = localStorage.getItem('username')
    if (username == '') {
        console.log('user not logged in')
        window.location.replace("http://localhost:8000/")
    }

    const client = io()

    // welcome message
    client.on('welcome', (message) => {
        addMessage(message)
    })

    // message from other clients
    client.on('newMessage', (message) => {
        addMessage(message)
    })

    //user joined
    client.on('joined',(username)=>{
        const adminMsg = {
            message: 'has joined this group',
            username
        }
        addMessage(adminMsg)
    })

    //user left
    client.on('leave',(username)=>{
        const adminMsg = {
            message: 'has left this group',
            username
        }
        addMessage(adminMsg)
    })

    fetch(
            "http://localhost:8000/chat", {
            method: "POST",
            cache: 'no-cache',
            headers: {"Content-Type": "application/json"},
                
            }
            )
            .then(res => res.json())
            .then(res => {
                var array = [res]
                array.map((e) =>{
                    for (x=0; x < e.length; x++){
                        var data = document.getElementById("users");
                        var dataOptions = document.createElement("option");
                        dataOptions.text = e[x].username;
                        dataOptions.value = e[x].username;
                        data.add(dataOptions);
                    }
                })
            })
            .catch(err => console.error)


    // send private messages to users
    function sendPrivate(){
        let privateMsg = document.getElementById('users')
        let toUser = privateMsg.options[privateMsg.selectedIndex].value
        let message = document.getElementById('privateMessage').value
            //alert(toUser)
        const fromUser = localStorage.getItem('username');
        const msg = {
            messages: message,
            from_user : fromUser,
            to_user : toUser
        }
        client.emit('sendPrivate', msg)
        addMessage(msg)
    }
    
    // send message to room
    function sendMessage() {
        const message = document.getElementById('roomMessage').value
        var roomName = document.getElementById('roomName').innerHTML
        const userName = localStorage.getItem('username')
        const messageSend = {
            room: roomName,
            message: message,
            username: username
        }
        client.emit('messageToRoom', messageSend)
        addMessage(messageSend)
    }

    // add message to display
    function addMessage(message) {
        document.getElementById('message-container').innerHTML += `<div> ${message.username}: ${message.message} </div>`
    }

    function joinRoom() {
            let roomNameHeader = document.getElementById('roomName')
            let roomNameTag = document.getElementById('rooms')
            let roomName = roomNameTag.options[roomNameTag.selectedIndex].value
            roomNameHeader.innerHTML = roomName
            const username = localStorage.getItem('username') || "test"
            client.emit('join', roomName, username)  
            fetch(
                "http://localhost:8000/chathistory", {
                method: "POST",
                cache: 'no-cache',
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({
                    roomName
                })
            }
            )
                .then(res => res.json())
                .then(res => {
                    const temp = res
                    console.log(temp)
                    for(x = 0; x < temp.length; x++){
                        document.getElementById("history-container").innerHTML +=
                            temp[x].from_user + " : " + temp[x].messages + '<br/>'
                    }  
                })
                .catch(err => console.error)
     } 
    

    function leaveRoom() {
        var roomName = document.getElementById('roomName').innerHTML
        client.emit('userLeft',roomName,username)
        window.location.replace('/chat')
    }

    function logout() {
                localStorage.removeItem('username')
                window.location.replace("http://localhost:8000/");
    }

    

</script>

</html>