<!DOCTYPE html>
<html>

<head>
    <title>Lab Test 1 - Login</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="jumbotron text-center">
        <h2>Chat Application - COMP3133</h2>
    </div>
        
    <div class = "fluid-container">
        <div class="wrapper">
        <br/>
        <form  onSubmit="handleSubmit(event)" method='POST' action='http://localhost:8000/login'>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h3>Username</h3>
            <input type="text" name="username" id="username" placeholder="Username">
          
            <h3>Password</h3>
            <input type="password" name="password" id="password" placeholder="Password"> 
            <br/><br/>
            <button type="submit" class="btn btn-login btn-primary">Login</button>
            <a id="register" href="http://localhost:8000/register">Not a user? Register</a> 
        </div>    
        </form>
    </div>
<script>
    function handleSubmit(event) {
            event.preventDefault();
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;
            fetch(
                "http://localhost:8000/login", {
                method: "POST",
                cache: 'no-cache',
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({
                    username,password
                })
            }
            )
            .then(res => res.json())
            .then(res => {
                localStorage.setItem("username", JSON.stringify(res.user.username))
                window.location.href = "http://localhost:8000/chat"
                
            })
            .catch(err => console.error)
        }
</script>

</body>

</html>